<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>SOIL ANALYSIS</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>
<body>
 <div class="login">
  <h1>Predict Soil Fertility</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="calcium" placeholder="Calcium" required="required" />
      <input type="text" name="phosphorus" placeholder="Phosphorus" required="required" />
      <input type="text" name="ph" placeholder="pH-value" required="required" />
      <input type="text" name="soc" placeholder="SOC" required="required" />
      <input type="text" name="sand" placeholder="Sand" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   {{ prediction_text }}
   <p> Want to increase Soil Fertility??? </p>
   <a href="20 WAYS TO BOOST SOIL FERTILITY.pdf" download>20 ways to increase fertility of soil</a>
 </div>


</body>
</html>
